<div class="h-full w-full py-16 px-4">
  <div class="flex flex-col items-center justify-center">
    <div
      class="bg-white drop-shadow-2xl rounded lg:w-1/3 md:w-1/2 w-full p-10 mt-16"
    >
      <p
        tabindex="0"
        role="heading"
        aria-label="Login to your account"
        class="text-2xl font-extrabold leading-6 text-gray-800"
      >
        Login to your account
      </p>
      <p class="text-sm mt-4 font-medium leading-none text-gray-500">
        Don't have account?
        <span
          routerLink="/register"
          tabindex="0"
          role="link"
          aria-label="Register here"
          class="text-sm font-medium leading-none underline text-gray-800 cursor-pointer"
        >
          Register here</span
        >
      </p>

      <div class="w-full flex items-center justify-between py-4">
        <hr class="w-full bg-gray-400" />
        <p class="text-base font-medium leading-4 px-2.5 text-gray-400">OR</p>
        <hr class="w-full bg-gray-400" />
      </div>
      <form [formGroup]="loginForm">
        <div>
          <div class="text-sm font-medium leading-none text-gray-800">
            Email
          </div>
          <input
            formControlName="email"
            aria-label="enter email adress"
            role="input"
            type="email"
            class="bg-gray-200 border rounded focus:outline-none text-xs font-medium leading-none text-gray-800 py-3 w-full pl-3 mt-2"
          />
        </div>
        <div class="mt-6 w-full">
          <div class="text-sm font-medium leading-none text-gray-800">
            Password
          </div>
          <div class="relative flex items-center justify-center">
            <input
              formControlName="password"
              aria-label="enter Password"
              role="input"
              type="password"
              class="bg-gray-200 border rounded focus:outline-none text-xs font-medium leading-none text-gray-800 py-3 w-full pl-3 mt-2"
            />
            <div class="absolute right-0 mt-2 mr-3 cursor-pointer"></div>
          </div>
        </div>
        <div class="mt-8">
          <button
            (click)="login()"
            role="button"
            aria-label="log in"
            class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 text-sm font-semibold leading-none text-white focus:outline-none bg-black border rounded hover:bg-slate-700 py-4 w-full"
          >
            Log In
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
