<div class="login-status-navbar">
  <p
    class="text-base text-right"
    *ngIf="userService?.userState | async as user"
  >
    Welcome back {{ user.name }}!
  </p>

  <button
    *ngIf="!userService?.userState | async"
    class="mx-2 my-2 bg-white transition duration-150 ease-in-out hover:border-gray-900 hover:text-gray-900 rounded border border-gray-800 text-gray-800 px-8 py-2 text-sm font-bold hover:shadow-lg"
    routerLink="/login"
  >
    Login
  </button>
  <button
    *ngIf="userService?.userState | async"
    class="mx-2 my-2 bg-white transition duration-150 ease-in-out hover:border-gray-900 hover:text-gray-900 rounded border border-gray-800 text-gray-800 px-8 py-2 text-sm"
  >
    Logout
  </button>
</div>
